# Graphics
allow appdomain proc_ged:file r_file_perms;
allow appdomain proc_mtk_cmdq:file r_file_perms;
allow appdomain cmdq_device:chr_file r_file_perms;
