allow hal_fingerprint_default servicemanager:binder call;
allow hal_fingerprint_default etsd:binder { call transfer };
allow hal_fingerprint_default etsd_service:service_manager find;
