type msensord_exec, exec_type, file_type;
type msensord, domain;

init_daemon_domain(msensord)

allow msensord sysfs_msensord_daemon:file r_file_perms;

set_prop(msensord, ctl_qmc6983d_prop)
set_prop(msensord, ctl_mxg2320d_prop)
set_prop(msensord, ctl_memsicd3416x_prop)
set_prop(msensord, ctl_akmd09911_prop)
