# Graphics
allow platform_app proc_ged:file r_file_perms;

# Fingerprint
allow platform_app esfp0_device:chr_file rw_file_perms;
allow platform_app esfp0_device:chr_file rw_file_perms;
allow platform_app etsd_service:service_manager find;
allow platform_app etsd:binder { call transfer };

# Guiext
allow platform_app guiext-server_service:service_manager find;

# PQ
allow platform_app pq_service:service_manager find;
