type pq_exec, exec_type, file_type;
type pq, domain;

init_daemon_domain(pq)

binder_use(pq)
binder_call(pq, binderservicedomain)
binder_service(pq)

allow pq pq_service:service_manager add;
set_prop(pq, pq_conf_prop)

allow pq graphics_device:chr_file { open read ioctl };

allow pq proc_mtk_mira:file r_file_perms;
