type pq_exec, exec_type, file_type;
type pq, domain;

init_daemon_domain(pq)

binder_use(pq)
binder_call(pq, surfaceflinger)
binder_service(pq)

allow pq pq_service:service_manager add;
allow pq graphics_device:chr_file r_file_perms;
allow pq proc_mtk_mira:file r_file_perms;

set_prop(pq, pq_conf_prop)
