type wmt_loader_exec, exec_type, file_type;
type wmt_loader, domain;

init_daemon_domain(wmt_loader)

allow wmt_loader wmtdetect_device:chr_file rw_file_perms;

set_prop(wmt_loader, wmt_prop)
